@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --main-color: #000000;
  --second-bg: #f4eae0;
  --third-bg: rgb(35, 34, 34);
  --white-bg: #fff;
  --dark-text: #000000;
  --light-text: #f4eae0;
  --white-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  -ms-overflow-style: none;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;
  background-image: linear-gradient(to left bottom, #f4eae0, #cac0b9, #a19794, #787170, #524d4d, #3f3b3b, #2d2b2b, #1c1b1b, #171616, #111111, #090909, #000000);
}
body::-webkit-scrollbar {
  display: none;
}

.main-container {
  margin: 0 auto;
  max-width: 1105px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6.9rem;
  grid-gap: 1.4rem;
}

/* Info Section - TEKSTI NE ANE TE MAJTE*/
.info-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--white-bg);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info-section h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.info-section p {
  font-weight: 500;
  text-align: center;
}
/* Form */
.main-form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  background-color: var(--second-bg);
  border-radius: 10px;
  padding: 2.5rem 2.7rem;
  box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
}

.main-form .input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* VIJAT E EMRI,MBIEMRI ETJ... */
input {
  padding: 1.2rem;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(4, 6, 68, 1);
  opacity: 0.8;
  padding-left: 1rem;
}

input::placeholder {
  font-weight: 700;
  font-size: 0.9rem;
}
input:focus-visible {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--main-color);
}

/* BUTTONI KYQU */
.submit-info {
  border-radius: 5px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--white-bg);
  text-transform: uppercase;
  padding: 1.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}
#submit-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-info:hover {
  opacity: 0.7;
  transition: all ease-in-out 1s;
}
.tnc {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--gray-blue);
  text-align: center;
}
.tnc a {
  text-decoration: none;
  color : var(--dark-text);
  font-weight: 600;
}

.sign-up-logo {
  width: 120px;
  height: 120px;
}
