@import "variables.css";
/* 
  --main-color: #002244;
  --second-bg: #c0bfd2;
  --third-bg: #132c50;
  --white-bg: #fff;
  --dark-text: #002244;
  --light-text: #c0bfd2;
   --white-text: white;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

#main {
  background-color: var(--primary-color);
}

header {
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 40px;
  padding-top: 30px;
  padding-left: 30px;
}
.img-card img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  height: 520px;
  object-fit: cover;
}

.small-Card {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
}

.small-Card img {
  width: 204px;
  height: 104px;
  border-radius: 4px;
  cursor: pointer;
}

.small-Card img:active {
  border: 1px solid black;
}

.sm-card {
  border: 2px solid var(--secondary-color);
}

.fiek-info {
  width: 40%;
}
.fiek-info h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  color: var(--secondary-color);
}

.fiek-info h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  color: #ff4242;
  margin: 6px 0;
}

.fiek-info p {
  color: var(--secondary-color);
  margin: 15px 0;
}

.fiek-capacity p {
  text-decoration: underline;
  font-size: 22px;
  color: var(--secondary-color);
}

.fiek-capacity-option {
  width: 200px;
  height: 30px;
  margin-bottom: 15px;
  padding: 5px;
}

.infoFIEK {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: #787a80;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
}

#objekt-personel-orar :hover {
  text-decoration: none;
  opacity: 0.4;
  text-decoration: none;
  color: #424551;
}

.OBJEKTI-MENU,
.PERSONELI-MENU,
.ORARI-MENU {
  display: inline-block;
  margin: 15px 0;
  cursor: pointer;
  font-size: 22px;
}

.vija-horizontale {
  border: none;
  height: 3px;
  background-color: var(--secondary-color);
  width: 100%;
}

.adresaFIEK {
  color: var(--secondary-color);
}

/* PERSONELI AKADEMIK CSS : */

.main-personeli-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.headeri {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
}
.personel-headeri {
  width: 40%;
  align-items: center;
}

.personeli-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img {
  width: 300px;
}

.imgdown {
  margin-top: 10rem;
  width: 300px;
}
.personeli-photos img {
  border-radius: 5px;
  box-shadow: 0px 0px 9px var(--secondary-color);
}

.stafi {
  width: 100%;
  position: relative;
}
#start-orari {
  padding-left: 50px;
  color: var(--secondary-color);
}

h1 {
  color: var(--secondary-color);
}

.orari-headeri {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40%;
  align-items: center;
}

#orarii {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vitet-akademike {
  color: var(--secondary-color);
  font-weight: 800;
}

.hene {
  text-decoration: underline 2px;
  text-decoration-color: red;
}
.marte {
  text-decoration: underline 2px;
  text-decoration-color: yellow;
}
.merkure {
  text-decoration: underline 2px;
  text-decoration-color: green;
}
.enjte {
  text-decoration: underline 2px;
  text-decoration-color: blue;
}
.premte {
  text-decoration: underline 2px;
  text-decoration-color: purple;
}

.search-bar {
  margin-right: 45px;
  height: 42px;
}
#selectColumn {
  margin-bottom: 5px;
  height: 100%;
}

table tbody tr td.celula {
  background-color: red;
}
