@import "variables.css";
/* 
  --main-color: #002244;
  --second-bg: #c0bfd2;
  --third-bg: #132c50;
  --white-bg: #fff;
  --dark-text: #002244;
  --light-text: #c0bfd2;
   --white-text: white;
*/
#main {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

* {
  font-family: "Open Sans", sans-serif;
}

.main-content {
  min-height: auto;
  width: 400px;
  flex: 5.5;
  display: flex;
  flex-direction: column;
}

#asosacioni,
#kuizi,
#tic-tac-toe,
#memory-game,
#kuiziDinamik {
  border: 10px double var(--secondary-color);
  flex: 1;
  padding: 20px;
  flex-basis: 100vh;
}

/* Asosacioni start */
#asosacioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.asosacioni-text {
  width: 100%;
  padding: 15px 50px;
}

.asosacioni-text h3 {
  text-align: center;
}

.asosacioni-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.asosacioni-button,
#memory-game-button,
.create-asosacion,
.save-asosacion {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px 30px;
  margin: 30px;
  min-width: 150px;
  border-radius: 10px;
}
.reset-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  columns: var(--main-color);
  padding: 10px 30px;
  margin: 30px;
  min-width: 150px;
  border-radius: 10px;
}

#asosacioni .active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 30px;
  margin: 30px;
  min-width: 150px;
}

.asosacioni-button:hover,
.reset-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.asosacioni-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asosacioni-table-container {
  width: 900px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#asosacioni .row {
  display: flex;
}

#asosacioni .cell {
  border: 1px solid var(--secondary-color);
  width: 300px;
  height: 70px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#asosacioni #final-cell,
#asosacioni #final-input {
  width: 100%;
  font-weight: bold;
}

#asosacioni .final-column-cell {
  font-weight: bold;
}

#asosacioni .cell:hover,
#final-cell:hover {
  opacity: 0.8;
  cursor: pointer;
}

input[type="text"].input-cell {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
}

input[type="text"].input-cell::placeholder {
  opacity: 0.7;
}
/* Asosacioni end */

/* Kuizi start*/
#kuizi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.kuizi-text {
  width: 100%;
  padding: 15px 50px;
}

.kuizi-text h3 {
  text-align: center;
}

.start-screen,
.score-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
#restart {
  margin-top: 0.9em;
}
#display-container,
#button-container,
.score-container {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 9px var(--secondary-color);
  padding: 3.1em 1.8em;
  width: 80%;
  width: 37.5em;
  margin: auto;
  position: relative;
  border-radius: 0.6em;
  height: 500px;
  margin-bottom: 30px;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
  background-color: #e1f5fe;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}
.question {
  margin-bottom: 1.25em;
  font-weight: 600;
  color: var(--secondary-color);
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
  color: var(--white-text);
}
.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}
#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #0a69ed;
  color: var(--white-text);
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
}
.hide {
  display: none;
}
.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}
.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}
#user-score {
  font-size: 1.5em;
  color: var(--secondary-color);
}
/* Kuizi end*/

/* Kuizi Dinamik start */
#kuiziDinamik {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  /* background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center; */
}

#leftSide {
  width: 50%;
  height: 100%;
  margin-top: 25%;
  margin-left: 15%;
}
#rightSide {
  width: 50%;
  height: 100%;
  margin-top: 25%;
  margin-left: 15%;
}

.kuiziDinamikButonat{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 30px 50px;
  margin: 30px;
  min-width: 150px;
  border-radius: 10px;
}
.kuiziDinamikButonat:hover{
  opacity: 0.7;
}
/* Kuizi Dinamik end */

/* Tic-Tac-Toe start */
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

#tic-tac-toe {
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.x-score-container,
.circle-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.x-logo,
.circle-logo {
  width: 100px;
  height: 100px;

  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-score-container {
  margin-left: 70px;
}

.circle-score-container {
  margin-right: 70px;
}

.x-score-container h3,
.circle-score-container h3 {
  font-size: 30px;
}

.x-score-container .x-score,
.circle-score-container .circle-score {
  font-weight: bold;
  font-size: 40px;
}

.board {
  flex: 1;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  grid-template-columns: repeat(3, auto);
  padding-bottom: 30px;
}

.cells {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cells:first-child,
.cells:nth-child(2),
.cells:nth-child(3) {
  border-top: none;
}

.cells:nth-child(3n + 1) {
  border-left: none;
}

.cells:nth-child(3n + 3) {
  border-right: none;
}

.cells:last-child,
.cells:nth-child(7),
.cells:nth-child(8) {
  border-bottom: none;
}

.cells.x,
.cells.circle {
  cursor: not-allowed;
}

/* Create x and x effects */

.cells.x::before,
.cells.x::after,
.x-logo::after,
.x-logo::before {
  background-color: var(--secondary-color);
}

.board.x .cells:not(.x):not(.circle):hover::before,
.board.x .cells:not(.x):not(.circle):hover::after {
  background-color: lightgray;
}

.cells.x::before,
.cells.x::after,
.x-logo::after,
.x-logo::before,
.board.x .cells:not(.x):not(.circle):hover::before,
.board.x .cells:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cells.x::before,
.x-logo::before,
.board.x .cells:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cells.x::after,
.x-logo::after,
.board.x .cells:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Create circle and circle effects */

.cells.circle::before,
.cells.circle::after,
.circle-logo::after,
.circle-logo::before {
  background-color: var(--secondary-color);
}

.board.circle .cells:not(.x):not(.circle):hover::before,
.board.circle .cells:not(.x):not(.circle):hover::after {
  background-color: lightgray;
}

.cells.circle::before,
.cells.circle::after,
.circle-logo::after,
.circle-logo::before,
.board.circle .cells:not(.x):not(.circle):hover::before,
.board.circle .cells:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cells.circle::before,
.circle-logo::before,
.board.circle .cells:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cells.circle::after,
.circle-logo::after,
.board.circle .cells:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: var(--primary-color);
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-size: 5rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.winning-message.show {
  display: flex;
}
/* Tic Tac Toe end */

/* Memory game start */
#memory-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.heading-text {
  margin: 40px;
  background-color: var(--primary-color);
  min-width: 500px;
  padding: 20px 30px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  text-align: center;
  border-radius: 10px;
}

.memory-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

#grid {
  height: 450px;
  width: 580px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

#grid img {
  width: 110px;
  height: 110px;
}

.notification {
  display: none;
  position: relative;
  min-width: 250px;
  height: 50px;
  left: 450px;
  bottom: 400px;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--primary-color);
}

.card-bg {
  background-color: var(--primary-color);
}

#memory-game-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

h3 {
  color: var(--secondary-color);
}
/* Memory game end */
